    <header class="intro-header" style="background-image: url('/images/home.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Cool Blog</h1>
                    <hr class="small">
                    <span class="subheading">A blog maked with Ruby on Rails</span>
                </div>
            </div>
        </div>
    </div>
    <%= form_tag(main_index_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Buscador" %>
      <%= submit_tag "Buscar" %>
    <% end %>
    </header>


<% if @articles.present? %>
 <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <% @articles.each do |article| %>
                <div class="post-preview">
                    
                    <a href='/articles/<%= article.id %>'>
                        <h2 class="post-title">
                          <%= article.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= article.text %>
                        </h3>
                        
                        <% if user_signed_in? %>
                          <p class="post-meta"> 
                          <%= link_to 'Editar', edit_article_path(article) %> | 
                              <%= link_to 'Eliminar', article_path(article),
                                  method: :delete,
                                  data: { confirm: 'Estas seguro de eliminar este articulo?' } %>
                          <% end %>
                            </p>
                    </a>
                </div>
                <hr>
<% end %>
  <% else %>
   <p>No hay ningun articulo con "<%= params[:search] %>".</p>
<% end %>

<% if params[:search] == nil %>
  <h3 align='center'><%= paginate @articles %></h3>
<% end %>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>