<h1>Listado de articulos</h1>
<%= link_to 'Nuevo articulo', new_article_path %>

<br/>
<br/>
<table>
  <tr align="center">
    <th>Imagen</th>
    <th>Titulo</th>
    <th>Texto</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= image_tag article.foto.url(:thumb) %> </td>  
      <td> <%= article.title %> </td>
      <td> <%= article.text %> </td>
      <td> <%= link_to 'Mostrar', article_path(article) %> | 
          <%= link_to 'Edit', edit_article_path(article) %> | 
          <%= link_to 'Eliminar', article_path(article),
              method: :delete,
              data: { confirm: 'Estas seguro de eliminar este articulo?' } %>
    </td>
    </tr>
  <% end %>
</table>