<%= form_for :article, url: articles_path, html: { multipart: true } do |f| %>
  <p>
    <strong><%= f.label :titulo %></strong>
    <br>
    <%= f.text_field :title %>
  </p>
 
 
    <strong><%= f.label :texto %><br></strong>

    <%= f.text_area :text, :class => "tinymce", :rows => 10, :cols => 30 %>
    <script type="text/javascript">
      tinyMCE.init({
        selector: "textarea.text",
      force_br_newlines : false,
      force_p_newlines : false,
      forced_root_block : "",
  });
    </script>

    <%= tinymce %>
  
  <%= f.file_field :foto %>
 <br>
  <p>
    <%= f.submit :Guardar %>
  </p>
<% end %>
<%= link_to 'Atras', articles_path %>